.slideshow {
    overflow: hidden;
    border-radius: 4%;
    margin: 0 auto;
    position: relative;
    --slider__btn-size: 20px;

    &__slider {
        white-space: nowrap;
        height: 100%;
        width: 100%;
        --swiper-navigation-color: #fff;
        --swiper-pagination-color: #fff;
        --swiper-navigation-size: var(--slider__btn-size);
        --swiper-pagination-bullet-inactive-color: #fff;
        --swiper-pagination-bullet-inactive-opacity: 0.5;
    }

    &__content {
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 40px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & > div.chakra-skeleton {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        .slideshow__prev,
        .slideshow__next {
            opacity: 1;
            visibility: unset;
        }
    }
}
