:root {
    --home-page__title--fontsize: 20px;
    --home-page__base--padding: 20px 100px;
    --home-page__description--fontsize: 15px;
    --home-page__about--color: rgb(247 247 247);

    @media screen and (max-width: 1000px) {
        --home-page__base--padding: 20px 70px;
    }
    @media screen and (max-width: 800px) {
        --home-page__title--fontsize: 18px;
        --home-page__base--padding: 20px 50px;
    }
    @media screen and (max-width: 600px) {
        --home-page__title--fontsize: 16px;
        --home-page__base--padding: 20px 30px;
    }

    @media screen and (max-width: 500px) {
        --home-page__description--fontsize: 13px;
        --home-page__title--fontsize: 14px;
        --home-page__base--padding: 20px 20px;
    }
}

.homepage {
    width: min(1100px, 100%);
    &-base {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--home-page__base--padding);
        padding-bottom: 50px;
    }
    &__title {
        position: relative;
        & > h1 {
            font-weight: 700;
            font-size: var(--home-page__title--fontsize);
        }

        & > h3 {
            font-weight: 600;
            display: flex;
            gap: 10px;
            margin-top: 10px;
            font-size: var(--app-fontsize);

            & > i {
                color: #1d80ca;
            }
        }
    }

    &-images {
        margin-top: 40px;
        height: 370px;
        display: flex;
        position: relative;

        @media screen and (max-width: 1000px) {
            height: 330px;
        }

        @media screen and (max-width: 500px) {
            height: 250px;
        }

        & > button {
            position: absolute;

            right: 10px;
            bottom: 15px;
            & > i {
                color: black;
            }
            &:hover {
                text-decoration: none;
            }
            &:focus {
                box-shadow: none;
            }
        }

        & > div.chakra-skeleton {
            height: 380px;
            width: 100%;
            border-radius: 5px;
        }
    }

    &-body {
        padding-top: 40px;
        display: grid;
        grid-auto-flow: dense;
        --home__sprice-width: 300px;
        --home__sprice-gap: 50px;
        grid-template-columns: calc(100% - var(--home__sprice-width) - var(--home__sprice-gap)) var(
                --home__sprice-width
            );
        grid-gap: var(--home__sprice-gap);

        & > div:nth-of-type(1) {
            z-index: 10;
        }

        @media screen and (max-width: 750px) {
            grid-template-columns: 100%;
        }
    }

    &-owner {
        display: flex;
        --home__owner-gap: 50px;
        justify-content: space-between;
        gap: var(--home__owner-gap);

        @media screen and (max-width: 1000px) {
            --home__owner-gap: 40px;
        }

        @media screen and (max-width: 900px) {
            --home__owner-gap: 20px;
        }

        @media screen and (max-width: 800px) {
            --home__owner-gap: 5px;
        }

        @media screen and (max-width: 750px) {
            justify-content: space-between;
        }

        &__title {
            & > h1 {
                font-weight: 600;
                font-size: calc(var(--home-page__title--fontsize) - 1px);
                & > span {
                    & > a {
                        font-size: calc(var(--home-page__title--fontsize) - 1px);
                        font-weight: 700;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &-sprice {
        width: 100%;
        height: min-content;
        padding: 25px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        border-radius: 10px;
        position: sticky;
        top: calc(var(--app-navbar-height) + 50px);

        display: flex;
        flex-flow: column;
        justify-content: space-between;

        & > div {
            display: flex;
            --gap: 10px;
            gap: var(--gap);

            & > button {
                width: calc(50% - var(--gap) / 2);
            }
        }

        &__info {
            display: flex;
            flex-flow: column;
            gap: 10px;
            padding-bottom: 10px;
            & > h2 {
                font-weight: 700;
                font-size: calc(var(--home-page__title--fontsize) - 4px);
            }

            & > div {
                & > span {
                    font-weight: 600;
                }
            }
        }

        @media screen and (max-width: 750px) {
            position: unset;
            margin-top: 20px;
        }
    }

    &-description {
        & > hr {
            margin: 20px 0;
        }
        & > h1 {
            font-weight: 600;
            font-size: calc(var(--home-page__title--fontsize));
            margin: 10px 0;
        }

        &__empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 500;
            & > i {
                font-size: calc(
                    var(--home-page__title--fontsize) + var(--home-page__title--fontsize)
                );

                &::before {
                    color: #2f3367aa;
                }
            }
        }

        &__description {
            & > div {
                & > div {
                    margin-top: 20px;
                    & > h1 {
                        margin: 0px 0 10px 0;
                        font-weight: 600;
                        font-size: var(--home-page__description--fontsize);
                    }

                    & > p {
                        font-size: var(--home-page__description--fontsize);
                    }
                }
            }
        }

        & > &__showmore {
            font-size: var(--home-page__description--fontsize);
            margin: 10px 0;

            &:focus {
                box-shadow: none;
            }
        }
    }

    &-map {
        min-height: 400px;

        &__title {
            font-weight: 600;
            font-size: calc(var(--home-page__title--fontsize) - 2px);
        }

        &__placename {
            font-weight: 600;
            font-size: calc(var(--home-page__title--fontsize) - 4px);
            margin-bottom: 20px;
        }

        & > div:not(&__placename) {
            height: 400px;

            @media screen and (max-width: 500px) {
                height: 300px;
            }
        }

        & > hr {
            margin: 40px 0;
        }
    }

    &-about {
        background-color: var(--home-page__about--color);
        padding: 50px 50px 0 50px;

        display: flex;
        flex-flow: column;
        & > div:nth-child(1) {
            width: 100%;
            display: grid;
            // grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
            grid-template-columns: calc(40%) calc(30%) calc(30%);
            padding-bottom: 40px;
            --gap: 10px;
            grid-gap: var(--gap);

            @media screen and (max-width: 500px) {
                grid-template-columns: calc(0%) calc(50% - var(--gap) / 2) calc(
                        50% - var(--gap) / 2
                    );
            }
        }

        &__authority,
        &__developer {
            display: flex;
            flex-flow: column;
            gap: 20px;

            & > h1 {
                font-size: calc(var(--home-page__title--fontsize) - 2px);
                font-weight: 700;
                margin-bottom: 5px;
            }

            & > div {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 600;
            }
        }

        &__footer {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;

            & .app-logo {
                & > span {
                    background-color: unset;
                }
            }

            & > div {
                &:nth-child(2) {
                    max-width: 50%;
                }
            }

            @media screen and (max-width: 800px) {
                & > div {
                    &:nth-child(2) {
                        max-width: 60%;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                flex-flow: column;
                justify-content: center;
                & > div {
                    &:nth-child(2) {
                        max-width: unset;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                padding: 0;
            }
        }
    }
}

.homezooms {
    &__add {
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 20;

        & > button {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__list {
        --gap: 30px;
        display: grid;
        z-index: 10;
        grid-template-columns: calc(50% - var(--gap) / 2) calc(50% - var(--gap) / 2);
        gap: var(--gap);
        margin-bottom: 20px;

        @media screen and (max-width: 1200px) {
            grid-template-columns: 100%;
        }
    }

    &__listlabel {
        margin: 10px 0;
        font-weight: 600;
        font-size: calc(var(--home-page__title--fontsize) - 2px);
    }
}

.homeicon {
    position: relative;
    padding-bottom: 5px;

    & > div {
        width: max-content;
        padding: 7px;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, calc(-100% - 13px));
        background-color: white;
        font-weight: 600;
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(35%, 90%);
            border: 8px white solid;
            border-bottom-width: 0;
            border-left-color: transparent;
            border-right-color: transparent;
            filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.2));
        }
    }
}
