:root {
    --home-page__title--fontsize: 20px;
    --home-page__base--padding: 20px 100px;

    @media screen and (max-width: 1000px) {
        --home-page__base--padding: 20px 70px;
    }
    @media screen and (max-width: 800px) {
        --home-page__title--fontsize: 18px;
        --home-page__base--padding: 20px 50px;
    }
    @media screen and (max-width: 600px) {
        --home-page__title--fontsize: 16px;
        --home-page__base--padding: 20px 30px;
    }

    @media screen and (max-width: 500px) {
        --home-page__title--fontsize: 14px;
        --home-page__base--padding: 20px 20px;
    }
}

.homepage {
    width: min(1100px, 100%);
    &-base {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--home-page__base--padding);
    }
    &__title {
        & > h1 {
            font-weight: 700;
            font-size: var(--home-page__title--fontsize);
        }

        & > h3 {
            font-weight: 600;
            display: flex;
            gap: 10px;
            margin-top: 10px;
            font-size: var(--app-fontsize);

            & > i {
                color: #1d80ca;
            }
        }
    }

    &-images {
        margin-top: 40px;
        height: 380px;
        display: flex;
        --gap-h: 8px;
        --gap-v: 8px;
        --border__image-radius: 13px;
        gap: var(--gap-h);

        &__left {
            width: calc(50% - var(--gap-h));
            height: 100%;

            & > img,
            div.chakra-skeleton {
                border-top-left-radius: var(--border__image-radius);
                border-bottom-left-radius: var(--border__image-radius);
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__center {
            width: calc(25% - var(--gap-h) / 2);
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-v);
            & > img,
            div.chakra-skeleton {
                height: calc(50% - var(--gap-v) / 2);
                width: 100%;
                object-fit: cover;
            }
        }

        &__right {
            width: calc(25% - var(--gap-h) / 2);
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-v);
            & > img,
            div.chakra-skeleton {
                height: calc(50% - var(--gap-v) / 2);
                width: 100%;
                object-fit: cover;
                &:nth-child(1) {
                    border-top-right-radius: var(--border__image-radius);
                }
                &:nth-child(2) {
                    border-bottom-right-radius: var(--border__image-radius);
                }
            }
        }

        & > div.chakra-skeleton {
            height: 380px;
            width: 100%;
            border-radius: 5px;
        }
    }

    &-body {
        padding-top: 40px;
        display: grid;
        --home__sprice-width: 300px;
        --home__sprice-gap: 50px;
        grid-template-columns: calc(100% - var(--home__sprice-width) - var(--home__sprice-gap)) var(
                --home__sprice-width
            );
        grid-gap: var(--home__sprice-gap);

        & > div:nth-of-type(1) {
            z-index: 10;
        }

        @media screen and (max-width: 750px) {
            grid-template-columns: 100%;
        }
    }

    &-owner {
        display: flex;
        --home__owner-gap: 50px;
        gap: var(--home__owner-gap);

        @media screen and (max-width: 1000px) {
            --home__owner-gap: 40px;
        }

        @media screen and (max-width: 900px) {
            --home__owner-gap: 20px;
        }

        @media screen and (max-width: 800px) {
            --home__owner-gap: 5px;
        }

        @media screen and (max-width: 750px) {
            justify-content: space-between;
        }

        &__title {
            & > h1 {
                font-weight: 600;
                font-size: calc(var(--home-page__title--fontsize) - 2px);
                & > span {
                    font-size: calc(var(--home-page__title--fontsize) - 2px);
                    font-weight: 700;
                }
            }
        }
    }

    &-sprice {
        width: 100%;
        height: 300px;
        padding: 25px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        border-radius: 10px;
        position: sticky;
        top: calc(var(--app-navbar-height) + 50px);

        display: flex;
        flex-flow: column;
        justify-content: space-between;

        & > button {
            min-height: 40px;
            height: 40px;
            font-weight: 700;
        }

        &__info {
            display: flex;
            flex-flow: column;
            gap: 10px;
            & > h2 {
                font-weight: 700;
                font-size: calc(var(--home-page__title--fontsize) - 4px);
            }

            & > div {
                & > span {
                    font-weight: 600;
                }
            }
        }
    }

    &-about {
        height: 100px;
    }
}

.homezooms {
    &-add {
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 20;

        & > button {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &-list {
        --gap: 30px;
        display: grid;
        z-index: 10;
        grid-template-columns: calc(50% - var(--gap)) calc(50% - var(--gap));
        gap: var(--gap);

        @media screen and (max-width: 1200px) {
            grid-template-columns: 100%;
        }

        & > .zoomcard {
            // height: 400px;
        }
    }
}
