.zoomcard {
    --name-fontsize: 16px;
    position: relative;

    & > button:nth-of-type(1) {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        // color: rgb(255, 121, 144);
        color: white;
        border-radius: 20px;
        width: 35px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        font-size: var(--name-fontsize);

        & > div {
            &:nth-of-type(1) {
                font-size: 1em;
                font-weight: 700;
            }

            &:nth-of-type(2) {
                font-weight: 600;
            }
        }
    }

    &__moreinfo {
        display: flex;
        justify-content: space-between;

        & > div:nth-of-type(1) {
            display: flex;
            & > div {
                display: flex;

                & > span {
                    font-size: 0.7em;
                }
            }
        }
    }
}
