.list {
    list-style-type: none;
    overflow: auto;
    padding: 16px 32px;

    &__address {
        font-size: 16px;

        & strong {
            margin: 0px 4px;
            font-size: 16px;

            & i {
                display: inline-flex !important;
                position: relative !important;

                &:before {
                    position: absolute;
                    left: -2px;
                    bottom: 0px;
                }
            }
        }

        & strong:last-child {
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
        & i {
            margin-left: 4px;
        }
    }
}

.item {
    width: 100%;
    border-bottom: 1px solid #e0dede;
    padding: 24px 0px;
    display: flex;

    &:hover {
        cursor: pointer;
    }
}

.detail {
    width: 100%;
    position: relative;
    margin-left: 24px;
    --searchcard__title-fonsize: 16px;

    @media screen and (max-width: 800px) {
        --searchcard__title-fonsize: 15px;
    }

    @media screen and (max-width: 500px) {
        --searchcard__title-fonsize: 14px;
    }

    &__title {
        margin-top: 8px;
        & h4 {
            font-size: var(--searchcard__title-fonsize);
            font-weight: 600;
        }
        & i {
            font-size: 24px;
            margin-right: 8px;
        }
    }

    & span {
        font-size: 12px;
        opacity: 0.8;
    }

    & h3 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: calc(var(--searchcard__title-fonsize) + 2px);
        font-weight: 600;
    }

    &__description {
        opacity: 0.8;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;

    & ul {
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    & li {
        margin: 8px;
        & a {
            font-size: 12px;
            border: 1px solid #9b9999;
            border-radius: 4px;
            display: block;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.line {
    width: 40px;
    height: 1px;
    background-color: #e0dede;
    margin: 8px 0px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .list {
        padding: 8px 24px;
        height: 100%;
    }
    .item {
        display: block;
    }
    .detail {
        margin-left: 0;
        &__title {
            margin-top: 0;
        }
        h3 {
            position: relative;
        }
    }

    .pagination {
        margin-bottom: 68px;
    }
}
