@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import 'icons';
@import 'variable';
@import 'header';
@import 'mainpage';
@import 'signin';
@import 'loadingSpinner';
@import 'signup';
@import 'user/homes';
@import 'user/home';
@import 'user/room';
@import 'gallery';
@import 'search';

html {
    overflow-y: scroll;
}

#nprogress > .spinner {
    display: none !important;
}

*,
*:not(svg),
*:not(i)::before,
*:not(.swiper-button-next, .swiper-button-prev)::after {
    // font-family: 'Roboto Slab', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: var(--app-fontsize);
    color: var(--app-color);
}

input[type='text'],
input[type='number'] {
    cursor: text;
}

.chakra-avatar > div {
    color: unset;
}

.main {
    &.bar {
        margin-top: var(--app-navbar-height);
    }
}

#popup {
    position: absolute;
    left: 0;
    top: 0;

    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
