:root {
    --mainpage__header-h1--fontsize: 30px;
    --mainpage__header--bdradius: 15px;
    --mainpage__header-search--width: 70%;
    --mainpage__card-fontsize: 16px;

    @media screen and (max-width: 1000px) {
        --mainpage__header-h1--fontsize: 26px;
        --mainpage__header--bdradius: 10px;
        --mainpage__header-search--width: 80%;
        --mainpage__card-fontsize: 15px;
    }

    @media screen and (max-width: 800px) {
        --mainpage__header-h1--fontsize: 20px;
        --mainpage__header--bdradius: 10px;
        --mainpage__header-search--width: 90%;
        --mainpage__card-fontsize: 14px;
    }

    @media screen and (max-width: 600px) {
        --mainpage__header-h1--fontsize: 18px;
        --mainpage__header--bdradius: 5px;
        --mainpage__header-search--width: 86%;
    }

    @media screen and (max-width: 400px) {
        --mainpage__header-h1--fontsize: 15px;
        --mainpage__header--bdradius: 5px;
        --mainpage__header-search--width: 86%;
        --mainpage__card-fontsize: 13px;
    }
}

.main-page {
    display: flex;
    flex-direction: column;
    padding: 28px;
    height: 100%;
    background-color: #f0f2f5;
}

.mp-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: min(500px, 60vw);
    border-radius: var(--mainpage__header--bdradius);

    &__bg {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        z-index: 1;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--mainpage__header--bdradius);
        }
    }

    &__search {
        & > h1 {
            color: white;
            font-weight: 700;
            font-size: var(--mainpage__header-h1--fontsize);
        }
        z-index: 2;
    }
}

.homepage-address {
    display: flex;
    margin: 16px -16px;
    & > a {
        margin: 16px;
        flex: 1;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        background-color: white;
        &:hover {
            cursor: pointer;
            & h5 {
                color: var(--app-btn-bgcolor--hover);
            }
        }

        & h5 {
            text-align: center;
            font-size: var(--mainpage__card-fontsize);
            font-weight: 800;
            padding: 8px;
        }

        & > div {
            width: 100%;
            aspect-ratio: 2/1;
            overflow: hidden;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.homepage-topic {
    display: flex;
}

.homepage-posts {
    flex: 3;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 0px 16px;
    background-color: white;

    & > h4 {
        font-size: calc(var(--mainpage__card-fontsize) + 4px);
        font-weight: 700;
        text-align: center;
        margin: 12px;
        position: relative;

        &:before {
            position: absolute;
            top: auto;
            right: 0;
            bottom: -10px;
            left: 0;
            content: '';
            width: 90px;
            height: 2px;
            margin: 0 auto;
            border-radius: 6px;
            background: var(--app-btn-bgcolor--hover);
        }
    }

    & ul {
        list-style-type: none;
    }
}

.homepage-link {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: min-content;
    position: sticky;
    top: 70px;

    & > section {
        padding: 8px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        padding: 8px 16px;
        background-color: white;
        margin-bottom: 16px;

        & h4 {
            font-size: 16px;
            font-weight: 700;
            margin: 4px 0px;
        }

        & > section {
            list-style-type: none;
            display: grid;
            grid-template-columns: auto auto;
            & a {
                display: flex;
                margin: 4px 0px;
                border-bottom: 0.5px solid #ccc;

                & i {
                    margin-right: 4px;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--app-btn-bgcolor--hover);
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-page {
        padding: 8px;
    }
    .homepage-address {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .homepage-topic {
        flex-direction: column;
    }
    .homepage-posts {
        width: 100%;
    }
}
