.search {
    display: flex;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;

    &__room {
        flex: 2;
        // position: relative;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .search {
        display: block;
        &__room {
            display: block;
            height: 100%;
        }
    }
}

.leaflet-marker-icon {
    width: auto !important;
    height: auto !important;
    background-color: white;
    font-size: 12px;
    font-weight: 800;
    padding: 0px 4px;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.leaflet-bar {
    border: none !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24) !important;
}

.fi-rr-angle-down {
    margin-top: 2px;
}

.selected a {
    border: none !important;
    background-color: #0995f2;
    color: white;
}

.marker-hover {
    background-color: #000!important;
    color: #fff!important;
    z-index: 800!important;
}

.swiper-button-prev, .swiper-button-next {
    padding: 16px;
}